/* weather-by-hour */
.weather-by-hour {
  display: none;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .weather-by-hour {
    display: block;
  }
}

.weather-by-hour__container {
  display: flex;
  justify-content: left;
}

.weather-by-hour__heading {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1em;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .weather-by-hour__heading {
    font-size: 1.125em;
  }
}
