/* next-5-days-item */
.next-5-days__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.8rem 0;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.19rem;
  text-align: center;
}

.next-5-days__label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.83rem;
}

.next-5-days__date,
.next-5-days__high,
.next-5-days__low,
.next-5-days__icon,
.next-5-days__rain,
.next-5-days__wind {
  width: 33.33333%;
  font-size: 1rem;
}

.next-5-days__date,
.next-5-days__high,
.next-5-days__low {
  margin-bottom: 0.6rem;
}

.next-5-days__icon img {
  width: 2rem;
}

@media screen and (min-width: 450px) {
  .next-5-days__date,
  .next-5-days__high,
  .next-5-days__low,
  .next-5-days__icon,
  .next-5-days__rain,
  .next-5-days__wind {
    width: 16.666666%;
    margin-bottom: initial;
  }

  .next-5-days__date {
    order: -2;
  }

  .next-5-days__icon {
    order: -1;
  }

  .next-5-days__icon img {
    width: 2.4rem;
  }
}
