/* weather-by-hour-item */
.weather-by-hour__item {
  padding: 0.8em 0;
  width: 13%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 1.125em;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .weather-by-hour__item {
    margin: 0 8px;
    width: 6.2em;
  }
}

.weather-by-hour__hour {
  margin-bottom: 0.5em;
}

.weather-by-hour__icon {
  width: 3em;
  margin: 0 1rem;
}
