@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.body {
  padding: 0.9rem;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.background{
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  top: 0;
  left: 0;
  background-image: url(../../img/weather.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left 0 top 100%;
  filter: grayscale(20%)
}

@media screen and (min-width: 700px) {
  .body {
    padding: 1.2rem 3.2rem;
  }
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 920px) {
  .main-container {
    width: 100%;
    margin: 0.5rem auto;
    font-size: 1rem;
    position: relative;
  }
}
