/* current-stats */
.current-stats {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 1rem;
}

.current-stats___conatiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 700px) {
  .current-stats {
    width: 100%;
    height: 600px;
    border-top: none;
    border-bottom: none;
    position: relative;
  }

  .current-stats___conatiner {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
  }
}

.current-stat {
  padding: 16px 0;
}

.current-stat__icon {
  display: inline-block;
  vertical-align: top;
  margin: 0 16px;
}

.current-stat__icon img {
  width: 1.6rem;
}

.current-stat_annot {
  display: inline-block;
}

.current-stat__label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
}

.current-stat__value {
  font-size: 1.5em;
  text-align: left;
  font-weight: 600;
}
